#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

// Make homerow combos tap-only (so HRMs can be chorded instantaneously)
#define HRC_ION &hmr_ion RS(RA(RGUI)) 0

#define HRC_LPAR &hml LS(LCTRL) LPAR
#define HRC_RPAR &hmr RS(RCTRL) RPAR

#define HRC_LBRC &hml LC(LALT) LBRC
#define HRC_RBRC &hmr RC(RALT) RBRC

#define HRC_LBKT &hml LSFT LBKT
#define HRC_RBKT &hmr RSFT RBKT

#define HRC_LT &hml LA(LGUI) LT
#define HRC_GT &hmr RA(RGUI) GT

#define HRC_ESC &hml LS(LC(LALT)) ESC
#define HRC_DEL &hml LS(LALT) DEL
#define HRC_TAB &hmr RS(RALT) TAB
#define HRC_RET &hmr RS(RC(RALT)) RET

ZMK_COMBO(esc, HRC_ESC, LM1 LM2 LM3, DEF SYM NAV, COMBO_TERM_SLOW)
ZMK_COMBO(ret, HRC_RET, RM1 RM2 RM3, DEF SYM NAV, COMBO_TERM_SLOW)
ZMK_COMBO(del, HRC_DEL, LM3 LM1, DEF SYM NAV, COMBO_TERM_SLOW)
ZMK_COMBO(tab, HRC_TAB, RM1 RM3, DEF SYM NAV, COMBO_TERM_SLOW)

ZMK_COMBO(co_all, &kp LC(A), LB4 LB1, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(co_cut, &kp LC(X), LB4 LB3, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(co_cp, &kp LC(C), LB3 LB2, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(co_paste, &kp LC(V), LB2 LB1, DEF, COMBO_TERM_SLOW)

ZMK_COMBO(under, &kp UNDER, RB0 RB1, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(min, &kp MINUS, RB1 RB2, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(semi, &kp SEMI, RB2 RB3, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(cln, &kp COLON, RB3 RB4, DEF, COMBO_TERM_SLOW)

ZMK_COMBO(fatarrow, &fatarrow, RT0 RT1, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(eq, &kp EQUAL, RT3 RT2, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(amps, &kp AMPS, RT2 RT1, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(grave, &kp GRAVE, RT1 RT3, DEF, COMBO_TERM_SLOW)

ZMK_COMBO(lbkt, HRC_LBKT, LM1 LM0, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(rbkt, HRC_RBKT, RM1 RM0, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(lpar, HRC_LPAR, LM1 LM2, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(rpar, HRC_RPAR, RM1 RM2, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(lbrc, HRC_LBRC, LM2 LM3, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(rbrc, HRC_RBRC, RM2 RM3, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(lt, HRC_LT, LM4 LM3, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(gt, HRC_GT, RM4 RM3, DEF, COMBO_TERM_SLOW)

ZMK_COMBO(cplck, &kp CAPS, LM5 RM5, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(cb_ion, HRC_ION, RM1 RM3 RM4, DEF, COMBO_TERM_SLOW)

ZMK_COMBO(at, &kp AT, LT3 LT2, DEF, COMBO_TERM_SLOW)
ZMK_COMBO(pipe, &kp PIPE, LT2 LT1, DEF, COMBO_TERM_SLOW)