ZMK_MACRO(fatarrow,
    bindings = <&macro_tap &kp EQUAL &kp GT>;
)

ZMK_MACRO(ion,
    bindings = <&macro_tap &kp I &kp O &kp N>;
)

ZMK_MACRO(cdup, 
    bindings = <&macro_tap &kp DOT &kp DOT &kp SLASH>;
)