ZMK_MACRO(fatarrow,
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&macro_tap &kp EQUAL &kp GT>;
)

ZMK_MACRO(ion,
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&macro_tap &kp I &kp O &kp N>;
)