#include "../zmk-nodefree-config/keypos_def/keypos_58keys.h"
#include <dt-bindings/zmk/ext_power.h>

/* Map Lily58's extra keys */

#define X_LT \
    _BT_SEL_KEYS_ &out OUT_TOG   &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12 \
    &kp TAB

#define X_RT &kp BACKSLASH

#define X_LM &kp ESC
#define X_RM &kp ENTER

#define X_LB &trans
#define X_MB &trans
#define X_RB &trans

#define X_LH &trans &trans
#define X_RH &trans &trans

// Bluetooth enabled
#define CONFIG_WIRELESS 1

// Source the base map
#include "base.keymap"