#include "includes/zmk-helpers/key-labels/lily58.h"

// Define Lily58's extra keys
#define X_F &none &none &none &none &none &none    &none &none &none &none &none &none
#define X_BM &none  &none
#define X_HR &none
#define X_HL &none

// Thumbs on outer thumb key
#define THUMBS_OUT 1

#include "includes/3x6.dtsi"